html { box-sizing: border-box; }
*, *:before, *:after { margin:0; padding:0; box-sizing: border-box; }
img { box-sizing: content-box; }

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
    font-size:15px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.title {
    font-family: 'Hind', sans-serif;
    font-size: 32px;
    font-weight: 700;
    max-width: 600px;
    margin: 15px auto;
    text-align: center;
}

.cta-text .title {
    margin-bottom: 0;
}
.cta-text .description {
    text-align: center;
}
/*pageBg: #373F51*/

/*[9:25]*/
/*green: #21D17C*/

/*[9:26]*/
/*blue: #0396FF (pentru links si button)*/

/*[9:26]*/
/*gradient: #F761A1 -> #8C1BAB*/

a {
    color: #0396FF;
    text-decoration: none;
    opacity: .8;
}

a:hover {
    opacity: 1;
}

.logo {
    padding: 5px;
    text-align: center;
}

.logo img {
    max-height: 75px;
    max-width: 90%;
}
.cover-section {
    background-color: #373F51;
    color: #FFF;
    padding-top: 1px;
}

.cover-section .cover {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.featured-image img {
    border-radius: 25px 25px 0 0;
    display: block;
}

.more {
    font-size: 18px;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

.main-action {
    border-radius: 0 0 25px 25px;
    overflow: hidden;
}

.final-content {
    padding: 0 10px;
}
.block {
    text-align: center;
    margin: 25px auto;
    max-width: 600px;
    position: relative;

    /* Box CSS: */
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

.block .header {
    background-image: linear-gradient( 135deg, #F761A1 0%, #8C1BAB 100%);
    position: relative;
    border-radius: 10px;
    color: #FFF;
    padding: 10px 10px 10px 0;
}
.block .header a {
    color: inherit;
    display: block;
}

.block .header .title {
    font-family: 'Hind', sans-serif;
    font-size: 28px;
    margin: 0;
    padding-left: 85px;
    text-align: left;
    line-height: 28px;
}
.block .header .description {
    margin-bottom: 0;
    padding-left: 85px;
    text-align: left;
}

.block .content {
    padding: 10px 0;
}

.number {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: calc(50% - 25px);
    background-color: black;
    border-radius: 50%;
}

.number .text {
    font-family: 'Hind', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 55px;
    text-align: center;
}

img {
    max-width: 100%;
}

#mc_embed_signup{
    background:#fff;
    clear:left;
    padding-top:10px;
}

#mc-embedded-subscribe.button {
    font-family: 'Hind', sans-serif;
    font-weight: bold !important;
    font-size: 28px !important;
    background-color: #0396FF !important;
    text-transform: uppercase;
    padding: 5px 25px !important;
    display: block !important;
    height: 50px !important;
    line-height: 45px !important;
    width: 96% !important;
    border-radius: 10px !important;
    -webkit-appearance: none !important;
    border: none !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#mc_embed_signup .mc-field-group input {
    font-size: 20px !important;
    border-radius: 10px !important;
    border-color: #0396FF !important;
    padding: 10px 10px !important;
    font-weight: lighter !important;
}

.fb-page { width: 100%; }